<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
      <% if current_user.liked? event %> <!-- change to current user -->
        <td><%= post.user %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<ul>
<% @posts.each do |post| %>
  <li>
    <%= post.body %>
  </li>
<% end %>
</ul>


<!-- Like content -->

<% @posts.each do |post| %>
  <% if current_user.liked? event %> 
  <%= link_to '', unlike_post_path(post.id), remote: true,
                        id: "like_#{post.id}",
                        class: "glyphicon glyphicon-heart" %>
<% else %>
  <%= link_to '', like_post_path(post.id), remote: true,
                        id: "like_#{post.id}",
                        class: "glyphicon glyphicon-heart-empty" %>
<% end %> 
<%end%>
